@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Quicksand:wght@300..700&display=swap');

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0 auto;
  overflow-x: hidden;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  font-family: 'Figtree', sans-serif;
}

.Navigation-container {
  display: flex;
  width: 100%;
  height: fit-content;
}

.Navigation {

  display: flex;
  flex-direction: row;
  height: 75px;
  width: 90%;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgb(46, 43, 43);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;

}

.nav-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  font-size: 25px;
  color: #1db954;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-buttons {

  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  width: fit-content;
  align-items: center;
  margin: 10px;
}

.nav-buttons .accounts-button {
  margin: 10px;
  background-color: #1db954;
  color: black;
  justify-content: center;
  align-items: center;
  height: 40px;
  padding: 10px;

}

.nav-buttons .theme-button {

  margin: 10px;
  color: #1db954;
  background-color:  transparent;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100px;
  padding: 10px;
  border: 2px solid;
}

.Main {

  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 0 auto;

}

.Dashboard {

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 00px;
  grid-row-gap: 10px;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: fit-content;
  margin-top: 20px;
  border-radius: 8px;
}

.dashboard-component {
  background-color: #1db954;
  height: 250px;
  margin: 10px;
  border-radius: 8px;
  padding: 10px;
  color: #242424;
  font-size: 1.3rem;
  font-family: 'Figtree', sans-serif;
  font-weight: 500;
}

.Dashboard>.dashboard-component:nth-child(1) {
  grid-column: span 2;
}

.Dashboard>.dashboard-component:nth-child(2) {
  grid-column: span 1;
}

.Dashboard>.dashboard-component:nth-child(3) {
  grid-column: span 1;

}

.Dashboard>.dashboard-component:nth-child(2) {
  grid-column: span 1;
}

.welcome-message {
  display: flex;
  width: 80%;
  height: 150px;
  margin: 0 auto;
  justify-content: flex-start;
  padding-left: 20px;
  align-items: flex-end;
  font-size: 1.5rem;
}



.footer {

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: fit-content;
  margin: 0 auto;
  font-size: 16px;
  background-color: rgb(46, 43, 43);
}

.footer-item {
  display: inline-flex;
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.social svg {
  color: #1db954;
}

.social {
  display: inline-flex;
  vertical-align: middle;
  margin: 10px;
  font-size: 1.4rem;
}

.social:hover {
  cursor: pointer;
  color: #ff4e50;
  transition: color 0.3s ease-in-out;
}


@media (min-width:300px) and (max-width: 1000px) {


  .Dashboard {

    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }


  .Dashboard>.dashboard-component:nth-child(1) {
    grid-column: span 1;
  }

  .Dashboard>.dashboard-component:nth-child(2) {
    grid-column: span 1;
  }

  .Dashboard>.dashboard-component:nth-child(3) {
    grid-column: span 1;

  }

  .Dashboard>.dashboard-component:nth-child(2) {
    grid-column: span 1;
  }
}